html {
    font-size: 16px;
    background-color: rgb(53, 53, 53);
    color: whitesmoke;
    
    height: 100vh;
}

body {
    margin: 0;
    font-family: 'Roboto Mono';
}

.flex-container {
    background-color: rgb(73, 73, 73);
    padding: 1rem 2rem;
    height: 6rem;
    margin-top: 1rem;
}
header{
    text-align: center;
}

h1 {
    display: flex;
    margin-top: 0;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    padding: 0.5rem;
    background-color: white;
    color: rgb(58, 58, 58);
}

.half-container {
    display: inline-block;
    width: 42%;
}

.half-container img {
    width: 100%;
    margin-left: 3rem;
}

.half-container a {
    background-color: white;
    color: black;
    padding: 1rem;
    text-decoration: none;
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block;
}

.half-container:nth-child(2) {
    padding: 0 5%;
}

.first-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 2rem;
}

.container-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 3rem;
}

.gallery-item {
    display: inline-block;
    width: 22%;
    text-align: center;
    padding-bottom: 1%;
    height: 80%;
}

.gallery-item img {
    width: 90%;
    height: 90%;
}

footer {
    text-align: center;
    background-color: gray;
    height: 8rem;
    font-size: 1.25rem;
    padding: .5rem;
}

footer a {
    padding: 10px 20px;
    background: white;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 620px) {
    html {
        font-size: 16px;
    }

    .flex-container {
        background-color: rgb(73, 73, 73);
        padding: 1rem 2rem;
        height: 13rem;
        margin: 0;
    }

    h1 {
        text-align: justify;
        font-size: 2rem;
        display: inline-block;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 0 auto;
    }

    nav a {
        text-decoration: none;
        padding: 0.5rem;
        background-color: white;
        color: rgb(58, 58, 58);
        text-align: center;
    }
    .first-container {
        flex-direction: column;
        align-items: center;
        padding-top: 0.75rem;
    }
    .half-container img{
        justify-content: center;
        margin: 0 auto;
    }
    .half-container p{
        text-align: justify;
    }
    .half-container {
        width: 90%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .container-gallery{
        display:flex;
        flex-direction: row;
    }
    .gallery-item{
        width: 50%;
        height: 50%;
    }
    
}